
.view-body 
    height 100%
.view-list
    padding 0 8px

  .view-list-item
    border-bottom: 1px #ddd solid
    font-size: 14px
    height: 44px
    line-height 44px
    text-align: left
    display: flex
    justify-content flex-start
    align-items center
    position: relative
    padding 0 8px
    .cell
      display: flex
      flex 1
      width: 100%
      &:nth-of-type(1)
        flex .2
        width: 44px
