@charset "utf-8"
@import "./vars.styl"
*
  box-sizing border-box
  margin 0
  padding 0

html, body
  height 100%
  overflow hidden


#app
  max-width 480px
  margin auto
  background #fff
  padding 8px 8px
  height 100%
  min-height 100%

.view
  padding-top: 44px
  height 100%
.view-header

  position: fixed
  height: 44px
  top: 0
  right: 0
  left: 0
  &-wrap
    position: relative
    width: 100%
    max-width 480px
    margin auto
    height 44px
    line-height 44px
    border-bottom 1px darken(brand-primary, 15%) solid
    background brand-primary
    color brand-default
  &-title
    text-align: center
    font-size: 16px

.text-input
  display: block
  padding 16px 8px

  input
    display: block
    width: 100%
    border none
    -webkit-appearance none
    border-radius 4px
    height: 45px
    padding 7px
    line-height 28px
    font-size 16px
    background brand-gray
    border:1px light solid
    
    &:focus
      outline none
      
       