@charset "utf-8"
.view
  padding-top: 44px

.view-header

  position: fixed
  height: 44px
  top: 0
  right: 0
  left: 0
  &-wrap
    position: relative
    width: 100%
    max-width 480px
    margin auto
    height 44px
    line-height 44px
    border-bottom 1px #ddd solid

.view-form-control
  display: flex
  justify-content flex-start
  justify-items flex-start
  border-bottom 1px #ddd solid
  height: 44px
  line-height: 44px

  .form-control
    display: flex
    flex 1
    width: 100%
  .input-group-addon
    width: 44px
    height: 44px
    display: flex
    font-size: 12px
    text-align: center
